<!-- <p>
/* CSS HEX */
--battleship-gray: #85857Bff;
--timberwolf: #CBCCC4ff;
--ash-gray: #BBC9CAff;
--ash-gray-2: #C1D2CCff;
--alabaster: #E8E8DEff;
--bone: #D3D1C4ff;
</p> -->
<div>
    <h1>Colors</h1>
    <div id="sg_color_main">
        <div id="sg_color_1">
            <h2>85857B</h2>
            <h3>Battleship Gray</h3>
        </div>
        <div id="sg_color_2">
            <h2>CBCCC4</h2>
            <h3>Timberwolf</h3>
        </div>
        <div id="sg_color_3">
            <h2>BBC9CA</h2>
            <h3>Ash Gray</h3>
        </div>
        <div id="sg_color_4">
            <h2>C1D2CC</h2>
            <h3>Ash Gray</h3>
        </div>
        <div id="sg_color_5">
            <h2>E8E8DE</h2>
            <h3>Alabaster</h3>
        </div>
        <div id="sg_color_6">
            <h2>D3D1C4</h2>
            <h3>Bone</h3>
        </div>
        
    </div>
</div>
<div>
    <h1>Fonts</h1>
    <div class="SG_font_div">
        <h1 class="SG_font_1">Bolin Gerii</h1>
        <h1 class="SG_font_2">Aguero Serif</h1>
        <h1 class="SG_font_3">Aguero Italic</h1>
        <h1 class="SG_font_4">Chelon</h1>
        <h1 class="SG_font_5">Chelon Italic</h1>
        <h1 class="SG_font_6">Troye Sans</h1>
        <h1 class="SG_font_7">Troye Script</h1>
        <h1 class="SG_font_8">Troye Serif</h1>
        <h1 class="SG_font_9">New York</h1>
        <h1 class="SG_font_10">Roxie Rossa</h1>
    </div>

</div>
<div>
    <h1>Wireframes</h1>
    <div>
        <div class="SG_wireframe_div">
            <h2>Mobile</h2>
            <h3 class="SG_h3">Home Page</h3>
            <img src="../../assets/wfrm_mobile/Home.png" alt="mobile wireframe - Home Page" class="SG_wfrm_img">
            <h3 class="SG_h3">Home Page with Menu</h3>
            <img src="../../assets/wfrm_mobile/Homew_Menu.png" alt="mobile wireframe - Home Page with Menu Open" class="SG_wfrm_img">
            <h3 class="SG_h3">Login</h3>
            <img src="../../assets/wfrm_mobile/Login.png" alt="mobile wireframe - Login Page" class="SG_wfrm_img">
            <h3 class="SG_h3">Dashboard</h3>
            <img src="../../assets/wfrm_mobile/Dashboard.png" alt="mobile wireframe - Dashboard PAge" class="SG_wfrm_img">
            <h3 class="SG_h3">Find Page</h3>
            <img src="../../assets/wfrm_mobile/FindPage.png" alt="mobile wireframe - Find Page" class="SG_wfrm_img">
            <h3 class="SG_h3">Business Profile</h3>
            <img src="../../assets/wfrm_mobile/BusinessProfile.png" alt="mobile wireframe - Business Profile Page" class="SG_wfrm_img">
            <h3 class="SG_h3">About Us</h3>
            <img src="../../assets/wfrm_mobile/AboutUs.png" alt="mobile wireframe - About Us Page" class="SG_wfrm_img">
            <h3 class="SG_h3">Sign Up - User</h3>
            <img src="../../assets/wfrm_mobile/SignUp1.png" alt="mobile wireframe - Sign Up User Page" class="SG_wfrm_img">
            <h3 class="SG_h3">Sign Up - Business</h3>
            <img src="../../assets/wfrm_mobile/SignUp2.png" alt="mobile wireframe - Home Page" class="SG_wfrm_img">
        </div>
        <div class="SG_wireframe_div2">
            <h2>Desktop</h2>
            <h3 class="SG_h3">Home Page</h3>
            <img src="../../assets/wrfrm_deskt/Home.png" alt="desktop wireframe - Home Page" class="SG_wfrm_img_desk">
            <h3 class="SG_h3">Login</h3>
            <img src="../../assets/wrfrm_deskt/Login.png" alt="desktop wireframe - Login Page" class="SG_wfrm_img_desk">
            <h3 class="SG_h3">Dashboard</h3>
            <img src="../../assets/wrfrm_deskt/Dashboard.png" alt="desktop wireframe - Dashboard PAge" class="SG_wfrm_img_desk">
            <h3 class="SG_h3">Find Page</h3>
            <img src="../../assets/wrfrm_deskt/FindPage.png" alt="desktop wireframe - Find Page" class="SG_wfrm_img_desk">
            <h3 class="SG_h3">Business Profile</h3>
            <img src="../../assets/wrfrm_deskt/BusinessProfile.png" alt="desktop wireframe - Business Profile Page" class="SG_wfrm_img_desk">
            <h3 class="SG_h3">About Us</h3>
            <img src="../../assets/wrfrm_deskt/AboutUs.png" alt="desktop wireframe - About Us Page" class="SG_wfrm_img_desk">
            <h3 class="SG_h3">Sign Up - User</h3>
            <img src="../../assets/wrfrm_deskt/SignUp1.png" alt="desktop wireframe - Sign Up User Page" class="SG_wfrm_img_desk">
            <h3 class="SG_h3">Sign Up - Business</h3>
            <img src="../../assets/wrfrm_deskt/SignUp2.png" alt="desktop wireframe - Home Page" class="SG_wfrm_img_desk">
        </div>
    </div>
</div>