<!-- <p>
/* CSS HEX */
--battleship-gray: #85857Bff;
--timberwolf: #CBCCC4ff;
--ash-gray: #BBC9CAff;
--ash-gray-2: #C1D2CCff;
--alabaster: #E8E8DEff;
--bone: #D3D1C4ff;
</p> -->
<div>
    <h1>Colors</h1>
    <div id="sg_color_main">
        <div id="sg_color_1">
            <h2>85857B</h2>
            <h3>Battleship Gray</h3>
        </div>
        <div id="sg_color_2">
            <h2>CBCCC4</h2>
            <h3>Timberwolf</h3>
        </div>
        <div id="sg_color_3">
            <h2>BBC9CA</h2>
            <h3>Ash Gray</h3>
        </div>
        <div id="sg_color_4">
            <h2>C1D2CC</h2>
            <h3>Ash Gray</h3>
        </div>
        <div id="sg_color_5">
            <h2>E8E8DE</h2>
            <h3>Alabaster</h3>
        </div>
        <div id="sg_color_6">
            <h2>D3D1C4</h2>
            <h3>Bone</h3>
        </div>
        
    </div>
</div>

<Div>
    <h1>Wireframes</h1>
    <div>
        <h2>Mobile</h2>
        <h3>Home page and Menu</h3>
    </div>
</Div>